/*__pycache__/
.env
*.pyc
*.DS_Store
llm_weights/*
*/llm_weights/*
results/*
*/saved_models/*
*/pruned_models/*
/pruned_models/*
pruned_models/*
*.bin
pruned_models/*
joboutput/*
pruned_model/gpt2-medium/magnitude/config.json
pruned_model/gpt2-medium/magnitude/generation_config.json
pruned_model/gpt2-medium/magnitude/merges.txt
pruned_model/gpt2-medium/magnitude/special_tokens_map.json
pruned_model/gpt2-medium/magnitude/tokenizer_config.json
pruned_model/gpt2-medium/magnitude/vocab.json
pruned_model/gpt2-medium/sparsegpt/config.json
pruned_model/gpt2-medium/sparsegpt/generation_config.json
pruned_model/gpt2-medium/sparsegpt/merges.txt
pruned_model/gpt2-medium/sparsegpt/special_tokens_map.json
pruned_model/gpt2-medium/sparsegpt/tokenizer_config.json
pruned_model/gpt2-medium/sparsegpt/vocab.json
pruned_model/gpt2-medium/wanda/config.json
pruned_model/gpt2-medium/wanda/generation_config.json
pruned_model/gpt2-medium/wanda/merges.txt
pruned_model/gpt2-medium/wanda/special_tokens_map.json
pruned_model/gpt2-medium/wanda/tokenizer_config.json
pruned_model/gpt2-medium/wanda/vocab.json
pruned_model/opt-125m/sparsegpt/config.json
pruned_model/opt-125m/sparsegpt/generation_config.json
pruned_model/opt-125m/sparsegpt/merges.txt
pruned_model/opt-125m/sparsegpt/special_tokens_map.json
pruned_model/opt-125m/sparsegpt/tokenizer_config.json
pruned_model/opt-125m/sparsegpt/vocab.json
pruned_model/opt-125m/wanda/config.json
pruned_model/opt-125m/wanda/generation_config.json
pruned_model/opt-125m/wanda/merges.txt
pruned_model/opt-125m/wanda/special_tokens_map.json
pruned_model/opt-125m/wanda/tokenizer_config.json
pruned_model/opt-125m/wanda/vocab.json
joboutput/pru-gpt2_4294967294.out
.gitignore
