/*__pycache__/
.env
*.pyc
*.DS_Store
llm_weights/*
*/llm_weights/*
results/*
/data/*
*/saved_models/*
*/pruned_model/*
/pruned_model/*
pruned_model/*
*.bin
pruned_models/*
joboutput/*
generatec_output/*
joboutput/pru-gpt2_4294967294.out
generated_output/pruned_model/*

slurm-*
